body {
  background-image: linear-gradient(to bottom, skyblue, white); }

.html_altura {
  overflow-x: hidden; }

.img-fluid {
  width: 350px; }

.texto_inicio {
  font-size: 20px;
  color: black;
  margin-top: 80px;
  padding-left: 20px; }

.imagen_ppp {
  padding-left: 50px; }

.cuadro {
  padding-left: 120px;
  margin-bottom: 80px; }

div h4 {
  color: purple; }

div ul li {
  list-style: none; }

.opiniones {
  margin-top: 110px; }

div ul li a {
  color: grey;
  font-size: 20px;
  text-decoration: underline black; }

@media only screen and (max-width: 768px) {
  div ul li a {
    color: grey;
    font-size: 15px;
    text-decoration: underline black; } }

.titulo__footer3 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  color: blue; }

.texto__contacto3 {
  padding-top: 100px;
  color: grey; }

.logo_whatsapp {
  width: 250px; }

@media only screen and (max-width: 768px) {
  .titulo__footer3 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: blue; }
  .texto__contacto3 {
    padding-top: 100px;
    color: grey;
    padding-left: 10px; }
  .logo_whatsapp {
    width: 150px; } }

.nombre1 {
  color: red; }

.nombre2 {
  color: grey; }

.nombre3 {
  color: red; }

.nombre4 {
  color: grey; }

.opinion1 {
  color: black; }

.opinion2 {
  color: blue; }

.opinion3 {
  color: black; }

.opinion4 {
  color: blue; }

@media only screen and (max-width: 768px) {
  .conteiner {
    overflow-x: hidden; }
  .img-fluid {
    width: 150px; }
  .texto_inicio {
    font-size: 8px;
    color: black;
    padding-left: 0px; }
  .imagen_ppp {
    width: 150px;
    padding-left: 5px; }
  .cuadro {
    padding-left: 50px;
    margin-bottom: 80px; }
  div h4 {
    color: purple; }
  div ul li {
    list-style: none;
    font-size: 10px; }
  .body {
    overflow-x: hidden; }
  .logo__telefono {
    width: 150px; }
  .logo__email {
    width: 150px; }
  .logo__transferencia {
    width: 150px; }
  .logo__mercadoPago {
    width: 250px; }
  .titulo__mercadoPago {
    margin-top: 60px; }
  .titulo__local {
    font-size: 20px; }
  .titulo__pagos {
    padding-bottom: 20px; }
  .titulo__transferencia {
    color: darkblue; }
  .titulo__mercadoPago {
    color: darkblue; }
  .tarjetaTexto {
    color: black;
    font-size: 20px; }
  .textoCard {
    font-size: 20px; }
  .tarjeta {
    background-image: linear-gradient(to top, grey, white);
    margin-left: 10px; }
  .card {
    background-image: linear-gradient(to top, grey, white);
    margin-top: 10px;
    margin-left: 10px; }
  .logo__transferencia {
    height: 150px;
    width: 150px; }
  .mapa__local {
    height: 200px;
    width: 180px; }
  .transition {
    width: 150px;
    transition: all 2s; }
  .transition:hover {
    width: 250px; }
  .transition2 {
    width: 150px;
    transition: all 2s; }
  .transition2:hover {
    width: 250px; }
  img.transition3 {
    width: 150px;
    transition: all 2s; }
  img.transition3:hover {
    width: 250px; }
  img.transition4 {
    transition: all 2s; }
  img.transition4:hover {
    width: 250px; } }

.tabla {
  margin-bottom: 163px;
  font-size: 20px;
  color: darkgrey;
  border: 20px inset sandybrown;
  margin-top: 110px; }

.carta {
  background-image: linear-gradient(to bottom, greenyellow, whitesmoke);
  margin-bottom: 50px;
  margin-right: 50px; }

.titulo_note {
  font-size: 35px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  color: greenyellow;
  text-decoration: underline black solid; }

.body {
  overflow-x: hidden; }

.logo__telefono {
  width: 231px; }

.logo__email {
  width: 234px; }

.logo__transferencia {
  width: 250px; }

.logo__mercadoPago {
  width: 250px; }

.titulo__mercadoPago {
  margin-top: 60px; }

.titulo__local {
  font-size: 50px;
  margin-top: 40px;
  padding-left: 20px; }

.titulo__pagos {
  padding-bottom: 20px; }

.titulo__transferencia {
  color: darkblue; }

.titulo__mercadoPago {
  color: darkblue; }

.tarjetaTexto {
  color: black;
  font-size: 20px; }

.textoCard {
  font-size: 20px; }

.tarjeta {
  background-image: linear-gradient(to top, grey, white); }

.card {
  background-image: linear-gradient(to top, grey, white);
  margin-top: 10px; }

.logo__transferencia {
  height: 250px;
  width: 350px; }

.mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
  margin-lefht: 70px; }

.titulo__local {
  margin-right: 50px; }

.transition {
  width: 250px;
  transition: all 2s; }

.transition:hover {
  width: 350px; }

.transition2 {
  width: 250px;
  transition: all 2s; }

.transition2:hover {
  width: 350px; }

img.transition3 {
  width: 250px;
  transition: all 2s; }

img.transition3:hover {
  width: 450px; }

img.transition4 {
  transition: all 2s; }

img.transition4:hover {
  width: 350px; }

@media only screen and (max-width: 768px) {
  .body {
    overflow-x: hidden; }
  .logo__telefono {
    width: 150px; }
  .logo__email {
    width: 150px; }
  .logo__transferencia {
    width: 150px; }
  .logo__mercadoPago {
    width: 250px; }
  .titulo__mercadoPago {
    margin-top: 60px; }
  .titulo__local {
    font-size: 20px; }
  .titulo__pagos {
    padding-bottom: 20px; }
  .titulo__transferencia {
    color: darkblue; }
  .titulo__mercadoPago {
    color: darkblue; }
  .tarjetaTexto {
    color: black;
    font-size: 20px; }
  .textoCard {
    font-size: 20px; }
  .tarjeta {
    background-image: linear-gradient(to top, grey, white);
    margin-left: 10px; }
  .card {
    background-image: linear-gradient(to top, grey, white);
    margin-top: 10px;
    margin-left: 10px; }
  .logo__transferencia {
    height: 150px;
    width: 150px; }
  .mapa__local {
    height: 200px;
    width: 180px; }
  .transition {
    width: 150px;
    transition: all 2s; }
  .transition:hover {
    width: 250px; }
  .transition2 {
    width: 150px;
    transition: all 2s; }
  .transition2:hover {
    width: 250px; }
  img.transition3 {
    width: 150px;
    transition: all 2s; }
  img.transition3:hover {
    width: 250px; }
  img.transition4 {
    transition: all 2s; }
  img.transition4:hover {
    width: 250px; } }

@media only screen and (max-width: 768px) {
  .tabla {
    border-right-width: 20px;
    margin-right: 29px;
    margin-left: 29px;
    margin-top: 20px;
    font-size: 20px;
    color: darkgrey;
    border: 20px inset sandybrown; }
  .carta {
    background-image: linear-gradient(to bottom, greenyellow, whitesmoke);
    margin-bottom: 50px;
    margin-right: 50px; }
  h2 {
    font-size: 35px;
    color: greenyellow;
    text-decoration: underline black solid; } }

@media only screen and (max-width: 768px) {
  .frecuente {
    font-size: 27px;
    color: darkblue; }
  .pie_titulo {
    font-size: 24px; }
  textarea {
    width: 227px; }
  .pregunta {
    text-decoration: underline 5px black;
    color: red;
    font-style: italic;
    font-size: 20px; }
  .respuesta {
    list-style: none;
    color: hotpink;
    font-size: 15px; }
  .cuadro_duda {
    background-color: yellow;
    width: 322px;
    text-align: center; }
  .duda {
    padding-top: 50px;
    font-size: 29px; }
  .aceptarO {
    color: black; } }

.frecuente {
  font-size: 30px;
  color: darkblue; }

.pregunta {
  text-decoration: underline 5px black;
  color: red;
  font-style: italic; }

.respuesta {
  list-style: none;
  color: hotpink; }

.cuadro_duda {
  background-color: yellow;
  margin-right: 750px;
  text-align: center;
  margin-left: 250px; }

.duda {
  padding-top: 50px; }

.aceptarO {
  color: black; }

@media only screen and (max-width: 768px) {
  h2.titulo__explicacion {
    font-size: 30px; }
  .texto_explicacion {
    font-size: 15px;
    padding-left: 0px;
    font-style: italic; }
  iframe.video__presentacion {
    border: 5px outset darkblue;
    width: 363px; }
  img.imagen__reparacion {
    width: 230px; }
  h2.titulo__video {
    font-size: 27px; }
  .card {
    width: 19rem; } }

.titulo__explicacion {
  font-size: 60px; }

.texto_explicacion {
  padding-left: 50px;
  font-style: italic; }

iframe.video__presentacion {
  border: 30px outset darkblue;
  margin-bottom: 30px; }

img.imagen__reparacion {
  width: 850px; }

.titulo__video {
  grid-area: titulo__video;
  margin-top: 152px; }

.video__presentacion {
  grid-area: video__presentacion; }

.titulo__video {
  font-size: 50px;
  text-decoration: underline blue; }

.car {
  padding-right: 20px; }
