$colorFondo: skyblue;

$colorLetrasBarra: grey;

$colorLetrasBody: black;

$colorSubrayado: black;

$colorPiePag: grey;

$colorTituloPiePag: blue;

$colorOpinionN: purple;

$colorOpinionO: green;

$colorTitulosC: darkblue;

