.tabla{
	margin-bottom: 163px;
	font-size: 20px;
	color: darkgrey;
	border: 20px inset sandybrown;
	margin-top:110px;
}
.carta{
	background-image:linear-gradient(to bottom, greenyellow, whitesmoke);
	margin-bottom: 50px;
	margin-right: 50px;
	
}
.titulo_note{
	font-size: 35px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	color: greenyellow;
	text-decoration: underline black solid;
}