@media only screen and (max-width: 768px){
	.conteiner{
		overflow-x:hidden;
	}

	.img-fluid{
		width: 150px;
	}

	.texto_inicio{
		font-size: 8px;
		color: $colorLetrasBody;
		padding-left:0px;
			
	}
	


	.imagen_ppp{
		width:150px;
		padding-left: 5px;
	}

	.cuadro{
		padding-left: 50px;
		margin-bottom: 80px;
	}

	div{
		h4{
			color: $colorOpinionN;
		}
	}

	div{
		ul{
			li{
				list-style:none;
				font-size: 10px;
			}
		}
	}

	.body{
		overflow-x:hidden;
	}

	.logo__telefono{
		width: 150px;
	}
	.logo__email{
		width: 150px;
	}
	.logo__transferencia{
		width: 150px;
	}
	.logo__mercadoPago{
		width: 250px;
	
	}

	.titulo__mercadoPago{
		margin-top:60px;	
	}

	.titulo__local{
		font-size: 20px;
	}

	.titulo__pagos{
		padding-bottom: 20px;
	
	}

	@mixin col($colores){
		color:$colores
	}
	.titulo__transferencia{
		@include col($colorTitulosC);
	}

	.titulo__mercadoPago{
		@include col($colorTitulosC);
	}


	.tarjetaTexto{
		color:black;
		font-size:20px;
	}

	.textoCard{
		font-size:20px;
	}

	.tarjeta{
		background-image: linear-gradient(to top, grey, white);
		margin-left:10px;

	}

	.card{
		background-image: linear-gradient(to top, grey, white);
		margin-top: 10px;
		margin-left: 10px;
	}

	@mixin sizes($width, $height){
		height:$height;
		width:$width;
	}

	.logo__transferencia{
		@include sizes(150px, 150px);
	}

	.mapa__local{
		@include sizes(180px, 200px);
		
	}
	.transition{
		width: 150px;
		transition: all 2s;
	}
	.transition:hover{
		width: 250px;
	}
	.transition2{
		width: 150px;
		transition: all 2s;
	}
	.transition2:hover{
		width: 250px;
	}
	img.transition3{
		width: 150px;
		transition: all 2s;
	}
	img.transition3:hover{
		width: 250px;
	}
	img.transition4{
		transition: all 2s;
	}
	img.transition4:hover{
		width: 250px;
	}
}