@media only screen and (max-width: 768px){
	.frecuente{
		font-size: 27px;
		color:$colorTitulosC;
	}
	.pie_titulo{
		font-size: 24px;
	}

	textarea{
		width: 227px;
	}

	.pregunta{
		text-decoration: underline 5px black;
		color: red;
		font-style: italic;
		font-size: 20px;
	}

	.respuesta{
		list-style: none;
		color: hotpink;
		font-size: 15px;
		
	}

	.cuadro_duda{
		background-color: yellow;
		width: 322px;
		text-align: center;
		
	}


	.duda{
		padding-top: 50px;
		font-size:29px;
	}

	.aceptarO{
		color:$colorLetrasBody;
	}


}